# mkdocs.yml
site_name: MkDocs MCQ Plugin
site_url: https://broktoram.github.io/mkdocs-mcq/
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  # features:
  #   - content.code.annotate

markdown_extensions:
  - attr_list # Needed for the task list item classes
  - pymdownx.superfences
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tasklist:
      custom_checkbox: true # Important for styling
      clickable_checkbox: true
  - pymdownx.arithmatex:
      generic: true

plugins:
  - mcq